* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    height: 100vh;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    background: rgba(0,0,0,0.7);
}

.navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}

.navbar ul li {
    margin: 0 1rem;
    padding: 1rem;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.navbar ul li a:hover {
    color: skyblue;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
}

section h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 4rem;
    font-weight: 600;
}

section p {
    font-size: 1.5rem;
}

section#intro {
    background-color: white;
    justify-content: center;
}

#intro .text-1 {
    font-size: 1.5rem;
}

#intro .text-2 {
    font-size: 6rem;
    font-weight: 600;
}

#intro .text-3 {
    font-size: 2rem;
}

#intro .text-3 {
    font-size: 2rem;
}

#intro .text-3 span{
    color: aqua;
    font-weight: 500;
}

section#about {
    padding-top: 50px;
    background-color: skyblue;
    height: 600px;
    display: flex;
}

.profile {
    width: 300px;
    border-radius: 50%;
}

#wrapper {
    width: 1200px;
    overflow: hidden; /* will contain if #first is longer than #second */
}
#pic {
    border-radius: 40px;
    width: 300px;
    float:left;
    padding-right: 60px;
}
#info {
    border-radius: 25px;
    overflow: hidden; /* if you don't want #second to wrap below #first */
    font-size: 1.5rem;
    text-align: left;
    padding: 10px;
}

#wrapper-2 {
    width: 800px;
    overflow: hidden; /* will contain if #first is longer than #second */
}
#pic-2 {
    padding-top: 20px;
    float:left;
    padding-right: 60px;
}
#info-2 {
    border-radius: 25px;
    overflow: hidden; /* if you don't want #second to wrap below #first */
    font-size: 1.5rem;
    text-align: left;
    padding: 10px;
}

#gt {
    padding-top: 30px;
    float: left;
    clear: left;
}

#pic-3 {
    padding-top: 20px;
    float:left;
    padding-right: 60px;
}

#info-3 {
    border-radius: 25px;
    overflow: hidden; /* if you don't want #second to wrap below #first */
    font-size: 1.5rem;
    text-align: left;
    padding: 10px;
}

#tools {
    border-radius: 25px;
    overflow: hidden;
    font-size: 1rem;
    margin-top: 20px;
    float: right;
    padding-right: 62px;
}

#tools ul {
    display: flex;
    list-style: none;
    width: 100%;
}

#tools ul li {
    margin: 0 1.5rem;
}

#tools ul li a {
    text-decoration: none;
    color: black;
}

#tools-2 {
    border-radius: 25px;
    overflow: hidden;
    font-size: 1rem;
    margin-top: 20px;
    float: right;
    padding-right: 170px;
}

#tools-2 ul {
    display: flex;
    list-style: none;
    width: 100%;
}

#tools-2 ul li {
    margin: 0 1.5rem;
}

#tools-2 ul li a {
    text-decoration: none;
    color: black;
}

#resume {
    border-radius: 25px;
    overflow: hidden;
    font-size: 1.5rem;
    text-align: left;
    background-color: white;
    margin-top: 20px;
}

#resume ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}

#resume ul li {
    margin: 0 1.5rem;
    padding: 0.5rem;
}

#resume ul li a {
    text-decoration: none;
    color: black;
}

#resume ul li a:hover {
    color: skyblue;
}

section#experience {
    padding-top: 50px;
    height: 1000px;
    background-color: #feffff;
}

section#projects {
    padding-top: 50px;
    height: 800px;
    background-color: #def2f1;
}

section#publications {
    padding-top: 50px;
    height: 300px;
    background-color: #feffff;
}

section#intro {
    color: white;
    background: url('imgs/willian-justen-de-vasconcellos-jUCQRQeRs3k-unsplash.jpg') no-repeat center center/cover;;
  }

section#about {
    color: black;
    background: #def2f1; /*url('https://source.unsplash.com/2aAHlfDOhJM/1600x900') no-repeat center center/cover;;*/
}

section#education {
    height: 830px;
    padding-top: 50px;
    color: black;
    background: #def2f1;
}

section#copyright {
    height: 5vh;
    padding-top: 35px;
    padding-bottom: 35px;
    color: white;
    background: teal;
}

.logo {
    width: 200px;
    height: 100px;
    background-color: white;
    padding: 20px;
    border-radius: 25px;
}

.company {
    color: rgb(17, 161, 218);
    font-size: 20px;
}
.role {
    color: green;
    font-size: 15px;
    font-weight: 600;
}

.exp {
    font-size: 15px;
}

#tools ul li.tech {
    border-radius: 10px;
    padding: 10px;
    background: chartreuse;
}

#tools ul li#site {
    text-decoration: underline;
    border-radius: 10px;
    padding: 10px;
    background: turquoise;
}

#tools-2 ul li.tech {
    border-radius: 10px;
    padding: 10px;
    background: chartreuse;
}

#tools-2 ul li#site {
    text-decoration: underline;
    border-radius: 10px;
    padding: 10px;
    background: turquoise;
}

#wrapper-3 {
    margin-top: 50px;
    width:100%;
    display: flex;
    justify-content: center;
}

#project-1 {
    padding: 5px;
    border: 2px solid black;
    text-align: left;
    margin-right: 2%;
    margin-left: 2%;
    float: left;
    width: 22%;
}

#project-1 h1 {
    font-weight: 700;
    padding-top: 5px;
    padding-left: 10px;
    font-size: 1.25rem;
}

#project-2 {
    padding: 5px;
    border: 2px solid black;
    text-align: left;
    margin-right: 2%;
    margin-left: 2%;
    float: left;
    width: 22%;
}

#project-2 h1 {
    font-weight: 700;
    padding-top: 5px;
    padding-left: 10px;
    font-size: 1.25rem;
}

#project-3 {
    padding: 5px;
    border: 2px solid black;
    text-align: left;
    margin-right: 2%;
    margin-left: 2%;
    float: left;
    width: 22%;
    height: 525px;
}

#project-3 h1 {
    font-weight: 700;
    padding-top: 5px;
    padding-left: 10px;
    font-size: 1.25rem;
}

.pro {
    padding-top: 5px;
    width: 95%;
    border: none;
    display: block;
    margin: 0 auto;
}

#medicount {
    padding-top: 5px;
    width: 77%;
    border: none;
    display: block;
    margin: 0 auto;
}

.desc {
    padding: 10px;
    padding-top: 5px;
    font-size: 1rem;
}

.buttons {
    padding-top: 10px;
}

.btn {
    margin: 10px;
    padding: 5px 10px;
    font-size: 1.1rem;
    color: white;
    background-color: teal;
    outline: none;
    border: none;
    border-radius: 14px 12px 12px 0px;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.2s, box-shadow 0.2s;
}

.btn:hover {
    transition: translateY(-5px);
    box-shadow: 0 5px 5px #00000040;
}

#site-1 {
    margin-right: 20px;
}

#pub {
    font-weight: 300;
    font-size: 20px;
    width: 80%;
    text-align: left;
}

#pub-1 {
    margin: 50px 0px;
}

#paper {
    margin: 10px;
    margin-left: 27px;
}

.wrapper-4 {
    width: 800px;
    overflow: hidden; /* will contain if #first is longer than #second */
}

.logo-2 {
    width: 200px;
    height: 200px;
    background-color: white;
    padding: 20px;
    border-radius: 25px;
}

.course {
    border-radius: 25px;
    overflow: hidden; /* if you don't want #second to wrap below #first */
    font-size: 1.5rem;
    text-align: left;
    padding: 10px;
}

.exp-2 {
    font-size: 15px;
    margin-top: 25px;
}
